<div class="leftColumn">
	<div class="blogEntries">
		<div class="blogEntry">
			<h1><a href="/blog/phoenixhacks-live">
				PhoenixHacks Live
			</a></h1>
			<!-- <a class="image"><img/></a> -->
			<a class="image" href="/blog/phoenixhacks-live">
				<video autoplay loop playsinline>
					<source src="assets/project_images/features/phoenixhacks_live.mp4" type="video/mp4">
				</video>
			</a>
			<p>PhoenixHacks is an 24-hour hackathon hosted at Florida Polytechnic University.</p>
			<a class="readmore" href="/blog/phoenixhacks-live">...Read More</a>
		</div>
		<div class="blogEntry">
			<h1><a href="/blog/project-euler">
				Project Euler
			</a></h1>
			<a class="image" href="/blog/project-euler">
				<img src="assets/project_images/features/Project Euler.jpg">
			</a>
			<p>My answers to the Project Euler problems.</p>
			<a class="readmore" href="/blog/project-euler">...Read More</a>
		</div>
		<div class="blogEntry">
			<h1><a href="/blog/renegade">
				Renegade
			</a></h1>
			<a class="image" href="/blog/renegade">
				<img src="assets/project_images/features/Renegade.jpg">
			</a>
			<p>Renegade is a level 3 autonomous vehicle built for my A.S. course.</p>
			<a class="readmore" href="/blog/renegade">...Read More</a>
		</div>
	</div>
</div>
<app-right-column></app-right-column>