:host {
	display: block;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1px;
	background: #33383c;

	/* & ::ng-deep * {
		margin: 0;
	} */
}

header#banner {
	text-align: center;
	vertical-align: middle;
	font-size: 64px;
	background: #33383c;
	//font-family: JosefinSlab, serif;
	height: 15rem;
	//padding: 0.75rem;

	div#image {
		height: 100%;
		width: 100%;

		background-color: indianred;
		overflow: hidden;
		display: flex;
		/* align-items: center;
		justify-content: center; */

		img {
			width: 100%;
			//height: 100%;
			object-fit: cover;
    	object-position: center;
		}
	}

	p.truth {
		position: absolute;
		top: 0;
		left: 0.5rem;
		font-size: 1rem;
		margin: 0;

		text-shadow: 2px 2px #000;
	}
}

nav#navbar {
	//font-family: JosefinSlab, serif;
	//font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: block;
	background: #3f4d4d;
	height: 32px;
	font-size: 24px;
	line-height: 32px;

	position: sticky;
	top: -0.1px; // to prevent pixel width gap on high DPI displays
	z-index: 1;

	a {
		display: inline-block;
		padding: 0 20px 0 20px;
		border: 0;
		text-decoration: none;
		color: #f1f1f3;

		&.active, &:hover {
			background: #33383c;
		}
		&:hover {
			color: indianred;
		}
	}
}

main {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto min-content;
	padding: 0.75rem;
	gap: 0.75rem;

	router-outlet {
		display: none;
	}

	@media (max-width: 799px) {
		grid-template-columns: 1fr;
		app-right-column {
			display: none;
		}
	}
}

footer {
	display: flex;
	gap: 1rem;
	background: hsl(207, 8%, 10%);
	padding: 1rem;
	justify-content: start;

	@media (max-width: 799px) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media (max-width: 500px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 385px) {
		grid-template-columns: 1fr;
	}
	
	.section {

		@media (max-width: 500px) {
			&:nth-of-type(3) {
				grid-column: 1 / 3;
			}
		}

		@media (max-width: 385px) {
			&:nth-of-type(3) {
				grid-column: 1;
			}
		}
		
		.links {
			display: grid;
			//gap: 0.5rem;
			//padding: 1rem;
			border: 1px solid #eee;
			border-radius: 5px;

			a {
				display: flex;
				gap: 0.5rem;
				padding: 0.5rem 1rem;
				//border-radius: 5px;
				white-space: nowrap;
				
				img {
					position: relative;
					height: 1.5rem;
    			width: 1.5rem;
				}

				&.active, &:hover {
					background: #33383c;
					color: indianred;
				}

				&:first-of-type {
					border-radius: 5px 5px 0 0;
				}
				&:last-of-type {
					border-radius: 0 0 5px 5px;
				}
			}
		}
	}

	.vertical-divider {
		width: 1px;
		background: #eee;

		@media (max-width: 799px) {
			display: none;
		}
	}

	.info {
		display: grid;

		@media (max-width: 799px) {
			grid-column: 1 / 4;
		}
	
		@media (max-width: 500px) {
			grid-column: 1 / 3;
		}

		@media (max-width: 385px) {
			grid-column: 1;
		}

		a {
			text-decoration: underline;
			&:hover {
				color: rgb(205, 92, 92, 0.91);
			}
			fa-icon {
				margin-right: 0.25rem;
			}
		}

		.copyright {
			font-size: 1rem;
			margin-top: auto;
		}
	}
}

@media (max-width: 799px) {
	header#banner {
		height: 7.5rem;
	}
	
	nav#navbar {
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: auto;
		text-align: center;
	}
}