<!-- <header>
  <div class="profile">
    <img src="/assets/body-shot-256x256.png" alt="Profile Picture"/>
    <h3>Justin McGettigan</h3>
    <p>Nice to meet you! I'm a software developer with a passion for XR.</p>
  </div>
</header> -->

<header id="banner">
  <div id="image">
    <img src="/assets/cosmos_background.jpg"/>
  </div>
</header>

<nav id="navbar">
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Projects</a>
  <a routerLink="/resume" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Resume</a>
  <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About</a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<!-- <app-resume></app-resume> -->