:host {
	display: block;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1px;
	background: #33383c;
}

header#banner {
	text-align: center;
	vertical-align: middle;
	font-size: 64px;
	background: #33383c;
	//font-family: JosefinSlab, serif;
	height: 15rem;
	//padding: 0.75rem;

	div#image {
		height: 100%;
		width: 100%;

		background-color: indianred;
		overflow: hidden;
		display: flex;
		/* align-items: center;
		justify-content: center; */

		img {
			width: 100%;
			//height: 100%;
			object-fit: cover;
    	object-position: center;
		}
	}
}

nav#navbar {
	//font-family: JosefinSlab, serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: block;
	background: #3f4d4d;
	height: 32px;
	font-size: 24px;
	line-height: 32px;

	a {
		display: inline-block;
		padding: 0 20px 0 20px;
		border: 0;
		text-decoration: none;
		color: #f1f1f3;

		&.active, &:hover {
			background: #33383c;
		}
		&:hover {
			color: indianred;
		}
	}
}

main {
	display: block;
}